<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "CoopSlide", suffix: " · Phoenix Framework" %>
    <!-- <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/content.css")}/> -->
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
        <!-- <a href="https://phoenixframework.org/" class="phx-logo"> -->
        <!--   <img src={Routes.static_path(@conn, "/images/phoenix.png")} alt="Phoenix Framework Logo"/> -->
        <!-- </a> -->


      <div class="navbar bg-base-100">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl">Coop - Slide</a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal px-1">
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
            <% end %>
            <li><%= link "Slideshows", to: Routes.slide_index_path(@conn, :index) %></li>

            <li tabindex="0">
              <a>
                Parent
                <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
              </a>
              <ul class="p-2 bg-base-100">
                <li><a>Submenu 1</a></li>
                <li><a>Submenu 2</a></li>
              </ul>
            </li>
            <li><a>Item 3</a></li>
          </ul>
        </div>
      </div>

    </header>
    <h1></h1>
    <h2></h2>
    <h3></h3>
    <h4></h4>
    <div class="container mx-auto my-auto">
      <%= @inner_content %>
    </div>
  </body>
</html>
