<div class="grid grid-cols-1 place-items-center"
     phx-hook="VideoList" id="@page.id"
     data={"#{@current}"}
     phx-window-keyup="change_slide" phx-target={@myself}>

  <div class="col-span-1">
    <div style="width: 100%; height: 100%;">
      <div style="width: 1452px; height: 768px; word-wrap: break-word;" class="bg-base-100">
        <%= raw @page.content %>
      </div>
    </div>
  </div>
  <%= @current %>
</div>
