<div style="width: 100%; height: 100%;" phx-window-keyup="change_slide" phx-target={@myself}>
  <div style="width: 1024px; height: 768px; word-wrap: break-word;" class="min-w-full">
    <%= raw @page.content %>
  </div>
</div>
